@model CPMS_AUTO.Models.MSUSNo
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SupportLayout.cshtml";
}
<style>

    .container {
        margin-top: 100px
    }

    .counter-box {
        display: block;
        background: #f6f6f6;
        padding: 40px 20px 37px;
        text-align: center
    }

        .counter-box p {
            margin: 5px 0 0;
            padding: 0;
            color: #909090;
            font-size: 18px;
            font-weight: 500
        }

        .counter-box i {
            font-size: 60px;
            margin: 0 0 15px;
            color: #d2d2d2
        }

    .counter {
        display: block;
        font-size: 32px;
        font-weight: 700;
        color: #666;
        line-height: 28px
    }

    .counter-box.colored {
        background: #3acf87
    }

        .counter-box.colored p,
        .counter-box.colored i,
        .counter-box.colored .counter {
            color: #fff
        }

    .heading-format {
        margin-left: 606px;
        margin-top: 15px;
        margin-bottom: -25px;
    }

    .second-heading {
        margin-left: 581px;
        margin-bottom: -8px;
        margin-top: 45px;
    }

    a:hover {
        cursor: pointer;
    }
</style>

<script src="~/Auto/js/jquery-1.10.0.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css">
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="margin-top: -100px;">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="align-items-center justify-content-between">
                <h1 class="page-header-title">
                    <div id="stat">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        @*Project Management System*@ Overall Installation Status
                    </div>
                    <div class="hide" id="fu">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        HRMS - Functional Units
                    </div>
                    <div class="hide" id="cp">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        HRMS - Non Functional Units
                    </div>
                    <div class="hide" id="ni">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        HRMS - No Information
                    </div>
                    <div class="hide" id="qfu">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        IQMP - Functional Units
                    </div>
                    <div class="hide" id="qcp">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        IQMP - Non Functional Units
                    </div>
                    <div class="hide" id="qni">
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        IQMP - No Information
                    </div>
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="container mt-n10">
    <div class="row" id="dashboard">
        <div class="col-12 mb-4">
            <div class="card h-100">
                <div class="card-header"><h3 class="card-title"></h3></div>
                <div class="card-body h-100 d-flex flex-column justify-content-center pb-lg-5 pb-xl-4">
                    <div class="row heading-format"><u><h4>HRMS</h4></u></div>
                    <div class="row mt-4">
                        <div class="four col-md-3">
                            <div class="counter-box bg-primary text-white">
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.TotalCountHrms</span>
                                <p class="text-white">Total Unit</p>
                            </div>
                        </div>
                        <div class="four col-md-3">
                            <div class="counter-box bg-success text-white">
                                @*<i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.FunctionalCountForHrms</span>*@
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.FullyFunctionalHrms</span>
                                <p class="text-white"><a class="text-white" onclick="SendData1()">Functional Units</a></p>
                            </div>
                        </div>
                        <div class="four col-md-3">
                            <div class="counter-box bg-danger text-white">
                                @*<i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.OpenCountHrms</span>*@
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.ComplainPendingHrms</span>
                                <p class="text-white"><a class="text-white" @*href="/Hrms/OpenCaseHrms"*@ onclick="SendData2()">Non Functional Units</a></p>
                            </div>
                        </div>
                        <div class="four col-md-3">
                            <div class="counter-box bg-warning   text-white">
                                @*<i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.NotInfoCountHRMS</span>*@
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.NoInformationHrms</span>
                                <p class="text-white"><a class="text-white" onclick="SendData3()">No Information</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="row heading-format"><u><h4>IQMP</h4></u></div>
                    <div class="row mt-4">
                        <div class="four col-md-3">
                            <div class="counter-box bg-primary text-white">
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.TotalCountIqmp</span>
                                <p class="text-white">Total Unit</p>
                            </div>
                        </div>
                        <div class="four col-md-3">
                            <div class="counter-box bg-success text-white">
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.FullyFunctionalIqmp</span>
                                <p class="text-white"><a class="text-white" onclick="SendData4()">Functional Units</a></p>
                            </div>
                        </div>
                        <div class="four col-md-3">
                            <div class="counter-box bg-danger text-white">
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.ComplainPendingIqmp</span>
                                <p class="text-white"><a class="text-white" onclick="SendData5()">Non Functional Units</a></p>
                            </div>
                        </div>
                        <div class="four col-md-3">
                            <div class="counter-box bg-warning text-white">
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.NoInformationIqmp</span>
                                <p class="text-white"><a class="text-white" onclick="SendData6()">No Information</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row hide" id="table">
        <div class="col-12 mb-4">
            <div class="card h-100">
                <div class="card-body h-100 d-flex flex-column1 justify-content-center pb-lg-5 pb-xl-4">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0" id="table_id">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.SUS)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Unit)
                                    </th>
                                    
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedOn)
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbldata">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/js/dataTables.js"></script>
<script src="~/DeveloperJs/Dash.js"></script>
