
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SupportLayout.cshtml";
}
<style>

    .container {
        margin-top: 100px
    }

    .counter-box {
        display: block;
        background: #f6f6f6;
        padding: 40px 20px 37px;
        text-align: center
    }

        .counter-box p {
            margin: 5px 0 0;
            padding: 0;
            color: #909090;
            font-size: 18px;
            font-weight: 500
        }

        .counter-box i {
            font-size: 60px;
            margin: 0 0 15px;
            color: #d2d2d2
        }

    .counter {
        display: block;
        font-size: 32px;
        font-weight: 700;
        color: #666;
        line-height: 28px
    }

    .counter-box.colored {
        background: #3acf87
    }

        .counter-box.colored p,
        .counter-box.colored i,
        .counter-box.colored .counter {
            color: #fff
        }
</style>


<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="margin-top: -100px;">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="align-items-center justify-content-between">
                <h1 class="page-header-title">
                    <div>
                        <div class="page-header-icon"><i data-feather="activity"></i></div>
                        Support Dashboard
                    </div>
                   
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="container mt-n10">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card h-100">

                <div class="card-header"><h3 class="card-title">Total Count</h3></div>
                <div class="card-body h-100 d-flex flex-column justify-content-center pb-lg-5 pb-xl-4">
                    @*<div class="row mt-4">
                        <div class="four col-md-4">
                            <div class="counter-box bg-danger text-white">
                                <i class="fa fa-user"></i> <span class="counter text-white">@ViewBag.HighestPriority</span>
                                <p class="text-white">High Priority</p>
                            </div>
                        </div>
                        <div class="four col-md-4">
                            <div class="counter-box bg-success text-white">
                                <i class="fa fa-group"></i> <span class="counter text-white">@ViewBag.LowestPriority</span>
                                                            <p class="text-white">Low Priority</p>
                            </div>
                        </div>
                        <div class="four col-md-4">
                            <div class="counter-box bg-warning text-white">
                                <i class="fa fa-user"></i> <span class="counter text-white">@ViewBag.OnWrkCount</span>
                                <p class="text-white">OnWorking Cases</p>
                            </div>
                        </div>
                    </div>*@
                    <div class="row mt-4">
                        <div class="four col-md-4">
                            <div class="counter-box bg-primary text-white">
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">26</span>
                                                                  <p class="text-white">Total Cases</p>
                            </div>
                        </div>
                        <div class="four col-md-4">
                            <div class="counter-box bg-danger text-white">
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.OpenCount</span>
                                                                  <p class="text-white">Open Cases</p>
                            </div>
                        </div>
                        <div class="four col-md-4">
                            <div class="counter-box bg-success text-white">
                                <i class="fa fa-thumbs-o-up"></i> <span class="counter text-white">@ViewBag.ClosedCount</span>
                                                                  <p class="text-white">Closed Cases</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>